html{
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    font-family: 'Montserrat', sans-serif;

}
header {
    font-weight: 600;
}
.navbar{
    margin: 10px 40px 0px 40px;
    transition: top 0.3s ease;
}
.nav-item{
    margin-left: 50px;
    transition: transform 0.3s ease;
    
}
.nav-item:hover{
    /* transition: 0.4s ease; */
    transform: scale(1.1);
}
main{
    background-color: black;
    color: white;
}
h1{
    padding-bottom: 10px;
}
.intro{
    margin: 250px auto 250px auto;
    font-size: 50px;
    color: black;
}
.more-info{
    padding-bottom: 345px;
}
.test{
    cursor: pointer;
}
#about,#portofolio{
    padding-top: 30px;
    padding-bottom: 20px;
}
img,.container-pic{
    border-radius: 8px;
    
}
.rotated{
    transform: rotate(180deg);
}
.description{
    margin: 10px 10px 15px 10px;
}
.container-pic{
    width: 200px;
    height: 460px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pic{
    max-width: 130%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: 0.3s ease;
}
.pic:hover{
    transform: scale(0.95);
}
p{
    color: #ffffffbb;
}
.container-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
#contact h1{
    text-align: center;
}
.contact-image{
    width: 10rem;
    padding-left: 10px;
    padding-right: 10px;
    transition: transform 0.3s ease;
}
.contact-text{
    text-align: center;
}
.contact-image:hover{
    transform: scale(1.1);
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
	}
	50% {
        background-position: 100% 50%;
	}
	100% {
        background-position: 0% 50%;
	}
}
